<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.template.mapper.MenuMapper">

    <resultMap id="MenuResultMap" type="com.template.entity.Menu">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="icon" column="icon"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="visible" column="visible"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedDate" column="updated_date"/>
        <result property="deleted" column="deleted"/>
        <result property="version" column="version"/>
    </resultMap>

    <select id="findByRoleNames" resultMap="MenuResultMap">
        SELECT DISTINCT m.* FROM menus m
        INNER JOIN role_menus rm ON m.id = rm.menu_id
        INNER JOIN roles r ON rm.role_id = r.id
        WHERE r.name IN
        <foreach collection="roleNames" item="roleName" open="(" separator="," close=")">
            #{roleName}
        </foreach>
        AND m.deleted = false AND m.visible = true AND r.deleted = false
        ORDER BY m.sort_order
    </select>

    <select id="findAll" resultType="com.template.dto.MenuResponse">
        SELECT m.*, pm.name AS parentName
        FROM menus m
        LEFT JOIN menus pm ON m.parent_id = pm.id
        WHERE m.deleted = false
        <if test="keyword != null and keyword != ''">
            AND m.name ILIKE '%' || #{keyword} || '%'
        </if>
        ORDER BY m.sort_order
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM menus m
        WHERE m.deleted = false
        <if test="keyword != null and keyword != ''">
            AND m.name ILIKE '%' || #{keyword} || '%'
        </if>
    </select>

</mapper>
